In [1]:
pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Requirement already satisfied: tqdm>=4.41.1 in c:\users\public\anaconda3\lib\site-packages (from pyECLAT) (4.62.3)
Requirement already satisfied: numpy>=1.17.4 in c:\users\public\anaconda3\lib\site-packages (from pyECLAT) (1.20.3)
Requirement already satisfied: pandas>=0.25.3 in c:\users\public\anaconda3\lib\site-packages (from pyECLAT) (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\public\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\public\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\public\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pyECLAT) (1.16.0)
Requirement already satisfied: colorama in c:\users\public\anaconda3\lib\site-packages (from tqdm>=4.41.1->pyECLAT) (0.4.4)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyECLAT
transactions = [
    ['bear','wine','cheese'],
    ['beer','potato chips'],
    ['eggs','flour','butter','cheese'],
    ['eggs','flour','butter','beer','cheese'],
    ['wine','cheese'],
    ['potato chips'],
    ['eggs','flour','butter','wine','cheese'],
    ['eggs','flour','butter','beer','potato chips'],
    ['wine','beer'],
    ['wine','potato chips'],
    ['flour','eggs'],
    ['beer','potato chips'],
    ['eggs','flour','butter','butter','wine','cheese'],
    ['beer','wine','potato chips','cheese'],
    ['wine','cheese'],
    ['wine','potato chips']
]

In [6]:
transactions

[['bear', 'wine', 'cheese'],
 ['beer', 'potato chips'],
 ['eggs', 'flour', 'butter', 'cheese'],
 ['eggs', 'flour', 'butter', 'beer', 'cheese'],
 ['wine', 'cheese'],
 ['potato chips'],
 ['eggs', 'flour', 'butter', 'wine', 'cheese'],
 ['eggs', 'flour', 'butter', 'beer', 'potato chips'],
 ['wine', 'beer'],
 ['wine', 'potato chips'],
 ['flour', 'eggs'],
 ['beer', 'potato chips'],
 ['eggs', 'flour', 'butter', 'butter', 'wine', 'cheese'],
 ['beer', 'wine', 'potato chips', 'cheese'],
 ['wine', 'cheese'],
 ['wine', 'potato chips']]

In [7]:
import pandas as pd
dt= pd.DataFrame(transactions)

In [28]:
dt

               0             1             2       3             4       5
0           bear          wine        cheese    None          None    None
1           beer  potato chips          None    None          None    None
2           eggs         flour        butter  cheese          None    None
3           eggs         flour        butter    beer        cheese    None
4           wine        cheese          None    None          None    None
5   potato chips          None          None    None          None    None
6           eggs         flour        butter    wine        cheese    None
7           eggs         flour        butter    beer  potato chips    None
8           wine          beer          None    None          None    None
9           wine  potato chips          None    None          None    None
10         flour          eggs          None    None          None    None
11          beer  potato chips          None    None          None    None
12          eggs         flour        butter  butter          wine  cheese
13          beer          wine  potato chips  cheese          None    None
14          wine        cheese          None    None          None    None
15          wine  potato chips          None    None          None    None

In [30]:
min_n_products = 2
#  we don't want anykind of individual Products in our List:
min_support = 7/len(transactions)
max_length = max([len(x) for x in transactions])
min_n_products

2

In [36]:
min_support

0.4375

In [37]:
max_length

6

In [39]:
from pyECLAT import ECLAT
# my_eclat = ECLAT(data=dt,verbose =True)
my_eclat=ECLAT(data=dt,verbose=True)
rule_indices,rule_supports = my_eclat.fit(min_support=min_support,
                                         min_combination=min_n_products,
                                         max_combination=max_length)

100%|██████████| 9/9 [00:00<00:00, 454.09it/s]
100%|██████████| 9/9 [00:00<?, ?it/s]
100%|██████████| 9/9 [00:00<00:00, 1504.11it/s]

Combination 2 by 2

3it [00:00, 64.19it/s]

Combination 3 by 3

1it [00:00, 100.21it/s]

Combination 4 by 4

0it [00:00, ?it/s]

Combination 5 by 5

0it [00:00, ?it/s]

Combination 6 by 6

0it [00:00, ?it/s]

In [40]:
print(rule_supports)

{}

In [41]:
print(rule_indices)

{}